.pink {
  background-color: #ea587d;
}
.orange {
  background-color: #ff7044;
}
.carot {
  background-color: #f35f5d;
}
.green {
  background-color: #66bb6a
}
.success {
  color: $success-color;
}
.error {
  color: $error-color;
}