html {
  font-size: 16px;
  &.open-menu {
    overflow: hidden;
  }
}

html,
body {
  font-family: $font-fontback;
  color: $text-color;
  background-color: $body-color;
  line-height: 1.2;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  .wf-active & {
    font-family: $font-primary;
    font-weight: $font-normal;
  }
}

* {
  transition: all 300ms linear;
  &:active,
  :focus {
    outline: none;
  }
}

img {
  max-width: 100%;
}

.ellipse {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.back-to-top {
  text-align: right;
  padding-top: 20px;
  padding-right: 5px;
  border-bottom: 2px solid $primary-color;
}