.section {
  position: relative;
  margin-bottom: 10px;
}
.section-carousel {
  .carousel-item  {
    position: relative;
  }
  img {
    width: 100%;
    display: block;
  }
  .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: rgba(0,0,0,.6);
    color: $white;
    .name {
      font-size: rem(20px);
      @include tablet-down {
        text-overflow:ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .text {
      @include tablet-down {
        display: none;
      }
    }
    .cta {
      text-align: right;
      .ion {
        margin-left: 10px
      }
      a {
        color: $white;
      }
    }
  }
  .slick-dots {
    bottom: 13px;
    li {
      margin: 0;
      button {
        &:before {
          font-size: 12px;
          color: #fff
        }
      }
    }
  }
  .slick-arrow {
    display: none !important;
  }
  @include desktop-up {
    .thumb {
      width: 65%;
    }
    .desc { 
      width: 35%;
      left: auto;
      top: 0;
      background-color: $primary-color;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .slick-dots {  
      width: 35%;
      bottom: 25px;
      right: 0;
      display: block;
    }
  }
}