.list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }
    padding: 4px 5px;
    background-color: #f9f9f9;
    img {
      max-width: 40px
    }
    span {
      width: calc(100% - 40px);
      display: block;
      padding-left: 10px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &-news {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-top: 5px;
      &:first-child {
        margin-top: 0;
      }
      display: flex;
      align-items: center;
      .desc {
        padding-left: 10px;
        p {
          margin: 0;
          color: #257a9f;
        }
        span {
          color: #aeb5bd;
          font-size: rem(14px);
        }
      }
      .thumb {
        background-color: #e3effb;
        padding: 4px;
        position: relative;
        .inner {
          width: 40px;
          height: 40px;
          border-radius: 8px;
          background-color: #257a9f;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: rem(14px);
          span {
            color: $white;
            display: block
          }
        }
      }
    }
  }
  &-numberic {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 8px;
      border-top: 1px solid $body-color;
      &:hover {
        background-color: $body-color;
      }
      &:first-child {
        border-color: transparent;
      }
      &.approved {
        .ion {
          color: $success-color;
        }
      }
      &.spending {
        .ion {
          color: $warning-color;
        }
      }
      &.closed {
        .ion {
          color: $error-color;
        }
      }
    }
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $text-color;
      text-decoration: none;
      span {
        &.number {
          width: 20px;
          text-align: center;
        }
        &.label {
          width: calc(100% - 70px);
          padding: 0 5px;
        }
        &.ion {
          width: 40px;
          font-size: rem(24px);
          text-align: right;
        }
      }
    }
  }
}