.info {
  display: flex;
  align-items: center;
  color: $white;
  background-color: #fa5245;
  margin: 10px 0 0;
  &-label {
    width: 60px;
    padding: 10px;
    background-color: #b0221e;
    margin: 0;
  }
  &-text {
    width: calc(100% - 60px);
    padding: 10px;
  }
}

@include desktop-up {
  .info {
    background-color:#6a8f3f;
    &-label {
      background-color: #034d40;
    }
  }
}
