.section {
  .task { 
    text-align: center;
    padding: rem(30px);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .ion {
      color: $success-color;
      font-size: rem(44px);
    }
    p {
      color: rgba(51,51,51,.6);
      margin: 0;
    }
    &.warning {
      background-color: $error-color;
      color: $white;
      .ion {
        color: $white; 
      }
      p {
        color: $white;
      }
    }
  }
}