.section.section-carousel
  .carousel(data-carousel='')
    .carousel-item
      .thumb
        img(alt='Image 1' src='./assets/images/upload/slide-1.jpg')
      .desc
        p.name Normal body text normal body text normal body text
        p.text
          | Normal body text normal body text normal body text normal body text normal body text normal body text.
        .cta
          a(href='#' title='View more')
            | View more
            i.fa.fa-angle-right
    .carousel-item
      .thumb
        img(alt='Image 2' src='./assets/images/upload/slide-2.jpg')
      .desc
        p.name Normal body text normal body text normal body text
        p.text
          | Normal body text normal body text normal body text normal body text normal body text normal body text.
        .cta
          a(href='#' title='View more')
            | View more
            i.fa.fa-angle-right
    .carousel-item
      .thumb
        img(alt='Image 3' src='./assets/images/upload/slide-3.jpg')
      .desc
        p.name Normal body text normal body text normal body text
        p.text
          | Normal body text normal body text normal body text normal body text normal body text normal body text.
        .cta
          a(href='#' title='View more')
            | View more
            i.fa.fa-angle-right
  .info
    label.info-label Alert
    .info-text IT Phone system maintenance
