.section.section-grid
  .item.orange
    span.fa.fa-id-badge
    p Employee Directory
  .item.green
    span.fa.fa-file-text-o
    p Policy and Benefit
  .item.carot
    span.fa.fa-book
    p Employee Hanbook
  .item.green
    span.fa.fa-calendar
    p Calendar
  .item.carot
    span.fa.fa-bank
    p Unknow title
  .item.pink
    span.fa.fa-hourglass-half
    p Unknow title
  .item.orange
    span.fa.fa-building-o
    p Unknow title
  .item.pink
    span.fa.graduation-cap
    p Unknow title
  .item.orange
    span.fa.fa-calendar
    p Calendar
  .item.carot
    span.fa.fa-bank
    p Unknow title
  .item.pink
    span.fa.fa-hourglass-half
    p Unknow title
  .item.orange
    span.fa.fa-building-o
    p Unknow title