.section.section-grid
  .item.orange
    span.ion.ion-md-filing
    p Employee Directory
  .item.green
    span.ion.ion-md-today
    p Policy and Benefit
  .item.carot
    span.ion.ion-md-school
    p Employee Hanbook
  .item.green
    span.ion.ion-md-calendar
    p Calendar
  .item.carot
    span.ion.ion-md-wallet
    p Unknow title
  .item.pink
    span.ion.ion-md-map
    p Unknow title
  .item.orange
    span.ion.ion-md-business
    p Unknow title
  .item.pink
    span.ion.ion-md-podium
    p Unknow title
  //- .item.orange
  //-   span.ion.ion-md-images
  //-   p Calendar
  //- .item.carot
  //-   span.ion.ion-md-print
  //-   p Unknow title
  //- .item.pink
  //-   span.ion.ion-md-timer
  //-   p Unknow title
  //- .item.orange
  //-   span.ion.ion-md-videocam
  //-   p Unknow title