.section.section-banner
  .banner
    .thumb
      div(style='padding:56.25% 0 0 0;position:relative;')
        iframe(src='https://player.vimeo.com/video/307244663?autoplay=1&loop=1&autopause=0&muted=1' style='position:absolute;top:0;left:0;width:100%;height:100%;' frameborder='0' allow='autoplay; fullscreen' allowfullscreen='')
      script(src='https://player.vimeo.com/api/player.js')
    .desc
      p.name.ellipse TEAM BUILDING 2019
      p.text
        | Với chủ đề "KỶ LUẬT - ĐỒNG ĐỘI - THẦN TỐC" hình ảnh một Quân Đoàn Thép Novaland sẽ được thể hiện tại Team Building 2019
  .info
    label.info-label Alert
    .info-text IT Phone system maintenance
