.section.section-grid
  .item.orange
    span.ion.ion-md-filing
    p.ellipse Danh mục cá nhân
  .item.green
    span.ion.ion-md-today
    p.ellipse Quyền lợi &amp; Chính sách
  .item.carot
    span.ion.ion-md-school
    p.ellipse Employee Hanbook
  .item.green
    span.ion.ion-md-calendar
    p.ellipse Lịch trình
  .item.carot
    span.ion.ion-md-wallet
    p.ellipse Báo cáo tài chính
  .item.pink
    span.ion.ion-md-map
    p.ellipse Nghỉ lễ
  .item.orange
    span.ion.ion-md-business
    p.ellipse Biểu đồ
  .item.pink
    span.ion.ion-md-podium
    p.ellipse Cung ứng công nghệ
  