.section.section-topic
  h3.heading-2 Ké hoạch đào tạo
  .topic-wrapper
    .item
      .thumb
        +img('image1','./assets/images/upload/image1.jpg')
      .desc
        p.date Tháng 9: 16-2018 - 11:00 AM
        p.name Chức danh: 
          b Giám đốc kinh doanh
    .item
      .thumb
        +img('image2','./assets/images/upload/image2.jpg')
      .desc
        p.date Tháng 9: 16-2018 - 11:00 AM
        p.name Chức danh: 
          b Giám đốc kinh doanh
    .item
      .thumb
        +img('image1','./assets/images/upload/image3.jpg')
      .desc
        p.date Tháng 9: 16-2018 - 11:00 AM
        p.name Chức danh: 
          b Giám đốc kinh doanh
    .item
      .thumb
        +img('image2','./assets/images/upload/image4.jpg')
      .desc
        p.date Tháng 9: 16-2018 - 11:00 AM
        p.name Chức danh: 
          b Giám đốc kinh doanh