.section
  .block
    h2.heading-2 Sự kiện
    .block-content
      ul.list-news
        li
          .thumb
            .inner
              span.month DEC
              span.date 15
          .desc
            p
              b UCF Coding Boot Camp
            span Jacksonville. FL
        li
          .thumb
            .inner
              span.month DEC
              span.date 22
          .desc
            p
              b MacTrack Legal 2017
            span Orlando. FL
        li
          .thumb
            .inner
              span.month DEC
              span.date 27
          .desc
            p
              b Gamer Gauntlet 2017
            span Orlando. FL