.section.section-quicklink
  h2.heading-2 My Favorite
  ul.list
    li
      img(alt='icon5' src='./assets/images/upload/icon-5.png')
      span Corporate_Agreement_Sun-life
    li
      img(alt='icon5' src='./assets/images/upload/icon-5.png')
      span Brand_Identity_Manual
    li
      img(alt='icon5' src='./assets/images/upload/icon-5.png')
      span Aiga_9standard_agreement_09