.section.section-quicklink
  h2.heading-2 Công cụ
  .carousel(data-carousel='')
    .carousel-item
      .item
        img(alt='icon 1' src='./assets/images/upload/icon-1.png')
        span.ellipse Payroll
      .item
        img(alt='icon 2' src='./assets/images/upload/icon-2.png')
        span.ellipse Taleo
      .item
        img(alt='icon 3' src='./assets/images/upload/icon-3.png')
        span.ellipse Quick Books
      .item
        img(alt='icon 4' src='./assets/images/upload/icon-4.png')
        span.ellipse Dynamics 365
    .carousel-item
      .item
        img(alt='icon 1' src='./assets/images/upload/icon-1.png')
        span.ellipse Payroll
      .item
        img(alt='icon 2' src='./assets/images/upload/icon-2.png')
        span.ellipse Taleo
      .item
        img(alt='icon 3' src='./assets/images/upload/icon-3.png')
        span.ellipse Quick Books
      .item
        img(alt='icon 4' src='./assets/images/upload/icon-4.png')
        span.ellipse Dynamics 365