nav.main-nav
  +link('Novaland','index.html').logo
    +img('Logo','./assets/images/logo.png')
  .menu
    a.hamburger-menu(data-toggle-menu,data-toggle-target='#menuWrapper',href='javascript:void(0);',title='Menu')
      span
        span
        span
      span
        span
        span
      span
        span
        span
    ul.menu-top
      li
        +link('Tạo','#')
          i.ion.ion-md-add
          span Tạo Trang
      li
        +link('Edit','#')
          i.ion.ion-md-create
          span Chỉnh sửa
      li
        +link('share','#')
          i.ion.ion-md-share
          span Chia sẻ
    .menu-bottom
      ul#menuWrapper
        li
          +link('Home','index.html')
            | Giới thiệu
        li
          +link('Tài liệu','#')
            | Tài liệu
        li
          +link('Nhân sự','#')
            | Nhân sự
        li
          +link('Ứng Dụng','#')
            | Ứng dụng
        li
          +link('Phòng ban','#')
            | Phòng ban
