extends layouts/layout

block vars
  - title = "Sharepoint Intranet";
  - menuIndex = 0

block container
  .container-fluid
    .row
      .col-xs-12.col-md-8
        include ./blocks/carousel.pug
        include ./blocks/grid.pug
        include ./blocks/topic.pug
      .col-xs-12.col-md-4
        include ./blocks/widget-alert.pug
        include ./blocks/widget-task.pug
        include ./blocks/quicklink.pug
        include ./blocks/widget-document.pug
        include ./blocks/widget-news.pug
        

